<div class='col-sm-12 '>
<carousel>
  <slide>
    <img src="assets/images/refrescos.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption ">
      <h3>Bebidas <span>Refrescantes</span></h3>
      <p>Refrescos, Jugos, Aguas</p>
      <a class="hvr-outline-out button2" href="mens.html">Compra ya </a>
    </div>
  </slide>
  <slide>
    <img src="assets/images/candy.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Dulces  <span>De Todo Tipo</span></h3>
      <p>Picafresas, Skittles, Rockaletas</p>
      <a class="hvr-outline-out button2" href="mens.html">Compra ya</a>
    </div>
  </slide>
  <slide>
    <img src="assets/images/sand1.png" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Comida <span>Rica</span></h3>
      <p>Prueba las preparaciones de tus compañeros</p>
      <a class="hvr-outline-out button2" href="mens.html">Compra ya </a>
    </div>
  </slide>
  <slide>
    <img src="assets/images/papas.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Papas <span>De La Marca Que Quieras</span></h3>
      <p>Sabritas, Barcel, Pringles</p>
      <a class="hvr-outline-out button2" href="mens.html">Compra ya</a>
    </div>
  </slide>
</carousel>
</div>