<div class="row">
  <div class="col-md-6">
	<div style="display: block">
	  <h1>Venta de Papas</h1>
	  <canvas baseChart
	          [data]="pieChartData"
	          [labels]="pieChartLabels"
	          [chartType]="pieChartType"
	          (chartHover)="chartHovered($event)"
	          (chartClick)="chartClicked($event)"></canvas>
	</div>
  </div>
  <div class="col-md-6">
	<div>
	  <div style="display: block">
	  	<h1>Mejores Clientes</h1>
	    <canvas baseChart
	            [datasets]="barChartData"
	            [labels]="barChartLabels"
	            [options]="barChartOptions"
	            [legend]="barChartLegend"
	            [chartType]="barChartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)"></canvas>
	  </div>
    </div>
   </div>
  <div class="col-md-6">
    <div style="display: block;">
    <h1>Productos Vendidos por Día</h1>
    <canvas baseChart width="10" height="10"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>
</div>
