<header>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
  <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</header>
<body>
<div>
<div class="page-head_agile_info_w3l">
  <div class="container">
    <h3>About <span>Us </span></h3>
    <!--/w3_short-->
    <div class="services-breadcrumb">
      <div class="agile_inner_breadcrumb">

        <ul class="w3_short">
          <li><a href="index.html">Home</a><i>|</i></li>
          <li>About</li>
        </ul>
      </div>
    </div>
    <!--//w3_short-->
  </div>
</div>
<!-- /banner_bottom_agile_info -->
<div class="banner_bottom_agile_info">
  <div class="container">
    <div class="agile_ab_w3ls_info">
      <div class="col-md-6 ab_pic_w3ls">
        <img src="../assets/images/col1.jpeg" alt=" " class="img-responsive" />
      </div>
      <div class="col-md-6 ab_pic_w3ls_text_info">
        <h5>About TEC<span>ompro</span> </h5>
        <p>Página Web diseñada por alumnos para alumnos</p>
        <p>Buscamos facilitar que nuestros compañeros que venden dentro del campus puedan llegar a más gente
          y que los compradores sepan que productos se venden dentro del Tec</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- team -->
<div class="banner_bottom_agile_info team">
  <div class="container">
    <h3 class="wthree_text_info">Miembros del <span>Equipo</span></h3>
    <div class="inner_w3l_agile_grids">
      <div class="col-md-3 team-grids">
        <div class="thumbnail team-w3agile">
          <img src="../assets/images/bb2.jpg" class="img-responsive" alt="">
          <div class="social-icons team-icons right-w3l fotw33">
            <div class="caption">
              <h4>Brandon Navarro</h4>
              <p>Desarrollador</p>
            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
              <li><a href="#" class="facebook">
                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="twitter">
                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="instagram">
                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="pinterest">
                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 team-grids">
        <div class="thumbnail team-w3agile">
          <img src="../assets/images/bb2.jpg" class="img-responsive" alt="">
          <div class="social-icons team-icons right-w3l fotw33">
            <div class="caption">
              <h4>Diego Granados</h4>
              <p>Desarrollador</p>
            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
              <li><a href="#" class="facebook">
                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="twitter">
                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="instagram">
                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="pinterest">
                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 team-grids">
        <div class="thumbnail team-w3agile">
          <img src="../assets/images/bb2.jpg" class="img-responsive" alt="">
          <div class="social-icons team-icons right-w3l fotw33">
            <div class="caption">
              <h4>Carlos Ayala</h4>
              <p>Desarrollador</p>
            </div>
            <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
              <li><a href="#" class="facebook">
                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="twitter">
                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="instagram">
                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
              <li><a href="#" class="pinterest">
                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<!-- //team -->

<!--/grids-->
<div class="agile_last_double_sectionw3ls">
  <h3 class="wthree_text_info">Lo más <span>Vendido</span></h3>
  <div class="col-md-6 multi-gd-img multi-gd-text ">
    <a href="mens.html"><img src="../assets/images/huates.jpeg" alt=" "><h4>Cacahuates</h4></a>
  </div>
  <div class="col-md-6 multi-gd-img multi-gd-text ">
    <a href="mens.html"><img src="../assets/images/dul.jpeg" alt=" "><h4>Dulces</h4></a>
  </div>
  <div class="col-md-6 multi-gd-img multi-gd-text ">
    <a href="mens.html"><img src="../assets/images/cup.jpeg" alt=" "><h4>Cupcakes</h4></a>
  </div>
  <div class="col-md-6 multi-gd-img multi-gd-text ">
    <a href="mens.html"><img src="../assets/images/sand1.png" alt=" "><h4>Comida</h4></a>
  </div>
  <div class="clearfix"></div>
</div>

</div>
<!--/grids-->
