<div>
<div class="banner_bottom_agile_info">
  <div class="container">
    <div class="contact-grid-agile-w3s">
      <div class="col-md-4 contact-grid-agile-w3">
        <div class="contact-grid-agile-w31">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          <h4>Dirección</h4>
          <p>Tecnólogico de Monterrey - <span>Campus Ciudad de México.</span></p>
        </div>
      </div>
      <div class="col-md-4 contact-grid-agile-w3">
        <div class="contact-grid-agile-w32">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <h4>Llamanos</h4>
          <p>+1234 758 839<span>+1273 748 730</span></p>
        </div>
      </div>
      <div class="col-md-4 contact-grid-agile-w3">
        <div class="contact-grid-agile-w33">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <h4>Email</h4>
          <p><a href="mailto:info@example.com">TeCompro@gmail.com</a><span><a href="mailto:info@example.com"></a>TeComproSugerencias@gmail.com</span></p>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="contact-w3-agile1 map" data-aos="flip-right">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1882.9878318464328!2d-99.13629992396791!3d19.283424496726358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce010583570f9f%3A0x325259ed18b94de!2sCedetec!5e0!3m2!1ses!2smx!4v1518918283316" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
