

        <div class="card text-center" style="width: 50rem;">
          <div class="card-block">
            <h2 class="card-title"><b>mis productos</b></h2>
            <div class="container">


                <ul class="products">
                  <li *ngFor="let product of products">
                    <div class="row">
                      <div class="col-xs-6">
                        <img src="../assets/images/m7.jpg" style="width: 25%">
                      </div>
                      <div class="col-xs-6" style="text-align: left;">
                        <p>{{product.name}}</p>
                        <p>{{product.description}}</p>
                      </div>

                    </div>
                  </li>
                </ul>


                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                  <form action="registro.html">
                    <input type="submit" name="submit" value="Añadir otro producto" class="button"/>
                  </form>

                </div>
              </div>
            </div>
        </div>

