<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- footer -->
<div class="footer">
  <div class="footer_agile_inner_info_w3l">
    <div class="col-md-3 footer-left">
      <h2><a href="index.html">TECompro</a></h2>
      <p>¿Tienes hambre? Contacta a tus compañeros del TEC que venden rica comida</p>
    </div>
    <div class="col-md-9 footer-right">
      <div class="sign-grds">   
        <div class="col-md-5 sign-gd-two">
          <h4>Acerca <span>De Nosotros</span></h4>
          <div class="w3-address">
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Correo eléctronico</h6>
                <p>Correo :<a href="mailto:example@email.com"> TECompro@gmail.com</a></p>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="w3-address-grid">
              <div class="w3-address-left">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <div class="w3-address-right">
                <h6>Ubicación</h6>
                <p>Tecnólogico de Monterrey - Campus Ciudad de México 
                
                </p>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    <div class="clearfix"></div>
    </div>
</div>
<!-- //footer -->


</body>
</html>
