<div>
  <div class="page-head_agile_info_w3l">
    <div class="container">
      <h3>Productos <span>Disponibles  </span></h3>

    </div>
  </div>

  <!-- banner-bootom-w3-agileits -->
  <div class="banner-bootom-w3-agileits">
    <div class="container">
      <!-- mens -->
      <div class="col-md-4 products-left">
        <div class="filter-price">
          <h3>Filtro <span>Precio</span></h3>
          <ul class="dropdown-menu6">
            <li>
              <div id="slider-range"></div>
              <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
            </li>
          </ul>
        </div>
        <div class="css-treeview">
          <h4>Categorias</h4>
          <ul class="tree-list-pad">
            <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> Comida Preparada</label>
            <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Dulces</label>
            <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Papas</label>
            <li><input type="checkbox" id="item-1" checked="checked" /><label for="item-1"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>Bebidas</label>

            </li>
          </ul>
        </div>

      </div>
      <div class="col-md-8 products-right">
        <div class="sort-grid">
          <div class="sorting">
            <h6>Ordenar Por</h6>
            <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
              <option value="null">Default</option>
              <option value="null">Nombre(A - Z)</option>
              <option value="null">Nombre(Z - A)</option>
              <option value="null">Precio(High - Low)</option>
              <option value="null">Precio(Low - High)</option>

            </select>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="men-wear-bottom">
          <div class="col-sm-4 men-wear-left">
            <img class="img-responsive" src="../assets/images/m5.jpg" alt=" " />
          </div>
          <div class="col-sm-8 men-wear-right">
            <h4>Productos de distintos<span>Compañeros del TEC</span></h4>
            <p>Las instrucciones son las siguientes:
              1. Selecciona los productos que quieras
              2. Ve tu carrito
              3. Confirma tu pedido
              4. Checa la ubicación del vendedor para recoger tus productos
            </p>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div class="clearfix"></div>

      <div class="single-pro">
        <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="../assets/images/m1.jpg" alt="" class="pro-image-front">
              <img src="../assets/images/m1.jpg" alt="" class="pro-image-back">
              <span class="product-new-top">New</span>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Sandwich de jamón con queso</a></h4>
              <div class="info-product-price">
                <span class="item_price">$30.99</span>
                <p class="item_price">Vendedor: Juan Muñoz </p>
                <p class="item_price">CDT-210 </p>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                  <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value=" " />
                    <input type="hidden" name="item_name" value="Sandwich De Jamón con Queso" />
                    <input type="hidden" name="amount" value="30.99" />
                    <input type="hidden" name="discount_amount" value="0.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value=" " />
                    <input type="hidden" name="cancel_return" value=" " />
                    <input type="submit" name="submit" value="Añadir al carrito" class="button" />
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>


        <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="../assets/images/m2.jpg" alt="" class="pro-image-front">
              <img src="../assets/images/m2.jpg" alt="" class="pro-image-back">
              <span class="product-new-top">New</span>

            </div>
            <div class="item-info-product ">
              <h4><a>Kinder Delice</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
                <p class="item_price">Vendedor: Juan Muñoz </p>
                <p class="item_price">CDT-210 </p>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                  <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value=" " />
                    <input type="hidden" name="item_name" value="Kinder Delice" />
                    <input type="hidden" name="amount" value="45.99" />
                    <input type="hidden" name="discount_amount" value="0.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value=" " />
                    <input type="hidden" name="cancel_return" value=" " />
                    <input type="submit" name="submit" value="Añadir al carrito" class="button" />
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="../assets/images/m3.jpg" alt="" class="pro-image-front">
              <img src="../assets/images/m3.jpg" alt="" class="pro-image-back">

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Mordisko</a></h4>
              <div class="info-product-price">
                <span class="item_price">$30.99</span>
                <p class="item_price">Vendedor: Juan Muñoz </p>
                <p class="item_price">CT-210 </p>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                  <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value=" " />
                    <input type="hidden" name="item_name" value="Mordisko" />
                    <input type="hidden" name="amount" value="30.99" />
                    <input type="hidden" name="discount_amount" value="0.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value=" " />
                    <input type="hidden" name="cancel_return" value=" " />
                    <input type="submit" name="submit" value="Añadir al carrito" class="button" />
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>

        <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="../assets/images/m6.jpg" alt="" class="pro-image-front">
              <img src="../assets/images/m6.jpg" alt="" class="pro-image-back">
              <span class="product-new-top">New</span>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Ensalada de frutas</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
                <p class="item_price">Vendedor: Pepe Muñoz </p>
                <p class="item_price">CDT-210 </p>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                  <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value=" " />
                    <input type="hidden" name="item_name" value="Ensalada de frutas" />
                    <input type="hidden" name="amount" value="45.99" />
                    <input type="hidden" name="discount_amount" value="1.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value=" " />
                    <input type="hidden" name="cancel_return" value=" " />
                    <input type="submit" name="submit" value="Añadir al carrito" class="button" />
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-3 product-men">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="../assets/images/m7.jpg" alt="" class="pro-image-front">
              <img src="../assets/images/m7.jpg" alt="" class="pro-image-back">
              <span class="product-new-top">New</span>

            </div>
            <div class="item-info-product ">
              <h4><a href="single.html">Jugo Jumex De Manzana</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
                <p class="item_price">Vendedor: Rosa Muñoz </p>
                <p class="item_price">CDT-210 </p>
              </div>
              <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                <form action="#" method="post">
                  <fieldset>
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value=" " />
                    <input type="hidden" name="item_name" value="Jumex De Manzana" />
                    <input type="hidden" name="amount" value="30.99" />
                    <input type="hidden" name="discount_amount" value="0.00" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="hidden" name="return" value=" " />
                    <input type="hidden" name="cancel_return" value=" " />
                    <input type="submit" name="submit" value="Añadir al carrito" class="button" />
                  </fieldset>
                </form>
              </div>

            </div>
          </div>
        </div>


        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
